:root { font-family: Arial, Helvetica, sans-serif; }
body { margin:0; background:#1e4f74; }
.app-header { background:#1e4f74; color:#fafafa; padding:1rem; text-align:center; }
.container {font-family: 'Lexend Deca', #1e4f74, Arial, sans-serif; padding:12px; max-width:100%; margin:0 auto; }
.topbar { display:flex; justify-content:space-between; align-items:center; gap:12px; flex-wrap:wrap; }
#etat { background:#fafafa; padding:8px 12px; border-radius:8px; box-shadow:0 1px 6px rgba(0,0,0,0.08); font-weight:bold; }
.controls { display:flex; gap:8px; }

.btnActivLoc { font-family: 'Lexend Deca', Arial, sans-serif;background:#33b86a; color: #fff; border:none; padding:8px 12px; border-radius:6px; cursor:pointer; font-weight: bold;}
.btnDisacLoc { font-family: 'Lexend Deca', Arial, sans-serif;background:#c0392b; color: #fff; border:none; padding:8px 12px; border-radius:6px; cursor:pointer;font-weight: bold; }
.btn-stop { background:#c0392b; }

.map-actions { 
  text-align:center;
  margin-top:8px;
}
.enigme-modal h2 {
  text-align: center;
  font-size: 20px;
  color: #1e4f74;
  font-family:'Lexend Deca', Arial, sans-serif;
}
.enigme-modal { 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  width: 90%;
  max-width: 420px;
  max-height: 80vh;
  padding: 18px;
  
  border-radius: 12px;
  border: 8px solid #1e4f74;
  box-shadow: 0 6px 30px rgba(0,0,0,0.2);
  box-sizing: border-box;
  z-index: 2000;
  background: #f6dd99;
  background-position: 75% 2%;
  background-size: 400%;
}

.enigme-modal input { 
  width:90%; 
  padding:8px; 
  margin-top:8px; 
  border-radius:6px; 
  border:1px solid #ccc; }

.modal-actions { 
  position: relative;

  margin-top:12px; 
  display:flex; 
  left:-115px;
  gap:8px; 
  justify-content:flex-end; 
}
.btn { 
  background:#2c3e50; 
  color:#fff;
  font-family:'Lexend Deca', Arial, sans-serif; 
  border:none; 
  padding:8px 12px; 
  border-radius:6px; 
  cursor:pointer; 
}
.btn:hover {
  background: #1e4f74;
}


.fixed.inset-0 {
  position: fixed;       /* prend tout l’écran */
  top: 15%;
  left: 35%;
  width: 50%;
  height:auto;
  max-width: 420px;
  height: 62%;
  background:  #f6dd99;
  border: 6px solid #ffd313; /* couleur du cadre, ici doré */
  border-radius: 22px;
  min-height: 250px;
  padding: 44px 50px 30px 50px;
}


.titleEnigme {
  position: absolute;
  top: 20px;               
  left: 48%;               
  transform: translateX(-50%);                         
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Lilita One', Arial, sans-serif;
}

.descriptionPop {

  margin-top: 1px;         
  color: #1e4f74;
  font-size: 14px;
  text-align: center;
  white-space: pre-line;
  line-height: 1.6;
  font-weight: bold; 
  font-family: 'Lexend Deca' Arial, sans-serif;
  max-height: 40vh;         
  overflow-y: auto;          
  word-wrap: break-word; 
}
.bg-white.rounded-2xl.shadow-xl {
  display: flex;
  gap:12px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rounded-xl {
  position:relative;
 align-items: center;
  border: 6px solid #ffd313; /* couleur du cadre, ici doré */
  border-radius: 35px;
}

.modal-close-btn { /*fermer image module*/
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: #f6dd99;   
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20%;          
  width: 20px;
  height: 20px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.modal-close-btn:hover {
  background-color: #ffd313;   /* légèrement plus foncé au survol */
}


.flex.items-center.justify-center {
  display: flex;
  align-items: center;   /* centre verticalement */
  justify-content: center; /* centre horizontalement */
}


.team-name-input {
  font-size: 16px;
  border: 3px solid #ffd313;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  background: #ffd313;
  color: #1e4f74;
  font-weight: bold;
  font-family: 'Lexend Deca', Arial, sans-serif;
}

.team-name-input::placeholder {
  color: #fbf8f8;
}

.team-name-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  width: 105%;
  background: #1e4f74;
  border: 6px solid #ffd313;
  border-radius: 12px;
  box-shadow: 
    inset 0 0 6px #000,
    0 0 15px rgba(195, 185, 152, 0.6);
  font-family: 'Lilita One', Arial, sans-serif;
  text-align: center;
  position: relative;
}
.team-name-modal-content h2 {
  color: #ffd313;
  font-size: 19px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px #000;
  margin: 0;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.icon-left{
  width: 32px;
  height: 32px;
}
.icon-right {
  width: 24px;
  height: 25px;
}


.btnValideName {
  font-size: 14px;
  background: #ffd313;
  color: #1e4f74;
  border: none;
  width: auto;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Lexend Deca', Arial, sans-serif;
  box-shadow: 0px 5px 0px #c9a326;
  transition: transform 0.2s, background 0.2s;
}

.btnValideName:hover {
  transform: scale(1.05);
  background: #ffd313;
}

.map-container {

  width: 90%;
  max-width: none;
  margin: 0 auto;
}
.map-wrapper {
  position: relative; /* nécessaire pour que le modal et le blur soient au-dessus */
  width: 100%;
  flex: 1;
}
.map-wrap {
  height: 100vh;         /*70vh*/
  width: 100%;           /*80%*/
  margin: 12px 0;    /*20px auto*/
  overflow: hidden;
  border-radius: 10px;
  border-radius: 12px; /* arrondi des coins */
  border: 6px solid #ffd313; /* couleur du cadre, ici doré */
  box-shadow: 0 0 15px rgba(0,0,0,0.2); /* léger effet 3D */
  box-sizing: border-box; /* pour que le border soit inclus */
}
.overlay-blur-map {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000; /* au-dessus de la carte */
}

.overlay-modal  {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 420px;
  padding: 20px;
  border-radius: 20px;
  background: transparent; /* pour laisser voir le cadre bleu/or */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  
}

.overlay {

  position: fixed;   /* ou fixed si tu veux centré écran */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3199;        /* au-dessus du blur */
}
.modal{
  min-height:190px;
  text-align: center;
  border: 1px solid #ccc; /* bordure grise */
  border-radius: 1px;;
  padding: 16px;
  flex-direction: column;
  white-space: nowrap;
  width: 170%;
  background: #1e4f74;
  border: 6px solid #ffd313;
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 2% 5% ;
}
.modal h1 {
  font-family: 'Lexend Deca', Arial, sans-serif;
  font-size: 20px;
  padding:10px;
}
.modal h2 {
  font-family: 'Lexend Deca', Arial, sans-serif;
  color: #1e4f74;
  text-align: center;
  white-space: nowrap;
  padding:12px;
  border:1px  solid #ffd313;
  background: #ffd313;

  border-radius: 1px;
  margin: 0;
  font-size: 1.5em;
}
#downloadBtn{
  padding: 8px;
  cursor: pointer;
  position:absolute;
  top:165px;
  left:257px;
  border-color: #1e4f74;

}



@media (max-width: 768px) {
    

  .map-wrapper {
    position: relative; /* nécessaire pour que l'overlay soit positionné au-dessus */
    width: 100%;
    flex: 1;
  }

  .team-name-input {
    font-size: 16px;
    border: 3px solid #ffd313;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    font-weight: normal;
    box-sizing: border-box;
    text-align: center;
    background: #ffd313;
    color: #1e4f74;
    
  }

  .btnValideName:hover {
  transform: scale(1.05);
  background: #ffd313;
}
  .btnValideName {
    font-size: 14px;
    background: #ffd313;
    color: #1e4f74;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    width: 120px;
    font-family: 'Lexend Deca', Arial, sans-serif;
    text-align: center;
    box-shadow: 0px 5px 0px #c9a326;
    transition: transform 0.2s, background 0.2s;
  }
  .team-name-input::placeholder {
  color: #fbf8f8;
  font-size: 14px;;
}

  
  .team-name-modal-content h2 {
    color: #ffd313;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Lexend Deca', Arial, sans-serif; 
    text-shadow: 2px 2px 0px #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

  .team-name-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 80%;
    max-width: 420px;
    background: #1e4f74;
    border: 6px solid #ffd313;
    border-radius: 12px;
    box-shadow: inset 0 0 6px #000, 0 0 15px rgba(195, 185, 152, 0.6);
    text-align: center;
    position: relative;
  }

  .overlay-blur-map {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000; /* au-dessus de la carte */
  }

  .overlay-modal {
    position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 420px;
  padding: 20px;
  border-radius: 20px;
  background: transparent; /* pour laisser voir le cadre bleu/or */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  }
  .icon-left{ /*icone crane*/
  width: 32px;
  height: 32px;
  }
  .icon-right { /*icone ancre*/
  width: 20px;
  height: 25px;
  }

  .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    max-width: 100%;
  }

  .topbar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    flex-shrink: 0;
  }

  .map-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .map-wrap {
    max-height: 600px;
    flex: 1;   
    width: 100%; 
    margin:0;
    border-radius: 0;  
    height: 100vh;     
  }

  #etat {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px 12px;
    border-radius: 5px;
    flex: 1;
    box-sizing: border-box;
  }

  #etat span {
    display: inline-block;
    animation: defilement 8s linear infinite;
    animation-delay: 4s;
  }

  .controls {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
  }

  @keyframes defilement {
    0% {
      transform: translateX(0%);
    }
    10%{
      transform: translateX(0%)
    }
    100% {
      transform: translateX(-100%);   
    }
  }
  .titleEnigme {
    font-weight: bold;
    color:#1e4f74;
    font-size:16px;
    top:5px;
    white-space: nowrap;
    transform: translateX(-50%);
    left:44%;

  }

  .btnActivLoc, 
  .btnDisacLoc {
    font-size: 0.7em;
    font-weight: bold; 
  }
  .fixed.inset-0 {
  position: fixed;       /* prend tout l’écran */
  top: 15%;
  left: 10%;
  width: 75%;
  height: 55%;
  background: #f6dd99;
  max-width: 55%;           /* largeur du cadre */
  max-height: 90vh; 
  border: 6px solid #ffd313; /* couleur du cadre, ici doré */
  border-radius: 20px;
  padding: 70px 50px 40px 50px;
}

.flex.items-center.justify-center {
  display: flex;
  align-items: center;   /* centre verticalement */
  justify-content: center; /* centre horizontalement */
}
.descriptionPop {
  position: relative;
  top: 42%; 
  margin-top: 5px;
  color: #1e4f74;
  font-size: 14px;
  text-align: center;
  font-family: 'Lexend Deca', Arial, sans-serif;
  overflow-y: auto;
}

.rounded-xl {
  position: relative;
  top: 10%;
  left: auto;

}


.map-actions { 
  text-align:center;
  margin-top:8px;
}
.enigme-modal { 
  position:fixed; 
  left:50%; top:50%; 
  transform:translate(-50%,-50%); 
  background:#ffffff; 
  padding:18px; 
  border-radius:12px; 
  box-shadow:0 6px 30px rgba(0,0,0,0.2); 
  width:90%; 
  max-width:420px; 
  max-height: 80vh; 
  overflow-y: auto; 
  z-index:2000; 
  box-sizing: border-box; 
  background: #f6dd99;
  background-position: 75% 2%;
  background-size: 400%;
}


.enigme-modal input { 
  width:95%; 
  padding:8px; 
  margin-top:8px; 
  border-radius:6px; 
  border:1px solid #ccc; }

.modal-actions {
  position: relative;
  left:-81px;
  margin-top:12px; 
  display:flex; 
  gap:8px; 
  justify-content:flex-end; 
}
.modal h1 {
  padding: 25px;
  font-size: 16px;
  margin: 0;
}
  .overlay {
  position: fixed;   /* ou fixed si tu veux centré écran */
  width: 100%;
  transform: translate(-100%, -40%);
  z-index: 3199;        /* au-dessus du blur */
}
.modal{
  max-width: 80%;          
  position: relative;
  top: 50%;               
  left: 55%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 8px;
  flex-direction: column;
  width: 80%;
  background: #1e4f74;
  border: 6px solid #ffd313;
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: 2% 5%;
}


.modal h2 {
  width: 70%;
  position: relative;
  font-family: 'Lexend Deca', Arial, sans-serif;
  color: #1e4f74;
  text-align: center;
  padding: 1px ;
  left:50px;
  border: 1px solid #ffd313;
  background: #ffd313;     
  word-break: break-word;
  overflow-wrap: break-word;
  border-radius: 1px;
  margin: 0px;
  font-size: clamp(1em, 4vw, 1.2em); /* adapte la taille au viewport */
}
#downloadBtn{
  width: 35%;
  cursor: pointer;
  position:relative;
  top:-80px;
  left:377px;
  border-color: #1e4f74;

}
}